<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="comm" value="COM5"/>
  <add key="baudrate" value="115200"/>
  <add key="file1" value="C:\Users\YuLY\Desktop\TUB_V0.2_0002_B0003T1_des.bin"/>
  <add key="file2" value="C:\Users\YuLY\Desktop\TUB_V0.2_0002_B0003T2_des.bin"/>
</appSettings>
</configuration>